@model LandOfForums.Models.Reply.PostReplyModel

    <div class="row postHeader">
        <div class="postHeading">
            <span class="postIndexTitle">
                @Model.PostTitle
            </span>
            <span id="headingBtn"><a asp-controller="Post" asp-action="Index" asp-route-id="@Model.PostId" class="btn btn-back">Back to Post</a></span>
        </div>
    </div>
    <div class="row" id="postIndexContent">
        <div class="col-md-3 postAuthorContainer">
            <div class="postAuthorImage" style="background-image: url(@Model.AuthorImageUrl); background-size: 100%;"></div>
            <a asp-controller="Profile" asp-action="Detail" asp-route-id="@Model.AuthorId">
                <strong>@Model.AuthorName</strong>
            </a> (<span class="postAuthorRating">@Model.AuthorRating</span>) <br />
            <span class="postDate">@Model.Created</span>
            @if (@Model.IsAuthorAdmin)
            {
                <span class="isAdmin smaller">Admin</span>
            }
        </div>
        <div class="col-md-9 postContentContainer">
            <div class="postContent">
                @Html.Raw(@Model.PostContent)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="createPostSection">
            <form asp-action="AddReply" method="post" id="addPostForm">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ReplyContent">Reply Content</label>
                    <textarea asp-for="ReplyContent" rows="3" class="form-control" placeholder="Write your reply here."></textarea>
                    <span asp-validation-for="ReplyContent" class="text-danger"></span>
                </div>
                <div class="authorBlock">
                    You're submitting this Reply as <span class="authorBlockName">@Model.AuthorName</span>
                </div>
                <button type="submit" id="registerBtn" class="btn btn-submitPost">Submit Reply</button>
                <input asp-for="AuthorId" type="hidden" />
                <input asp-for="PostId" type="hidden" />
                <input asp-for="ForumName" type="hidden" />
                <input asp-for="ForumId" type="hidden" />
            </form>
        </div>
    </div>
</div>
